@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');

.navbar-brand {
  font-family: "Red Rose", serif;
  font-weight: 400;
}

body::before {
  display: block;
  content: '';
  height: 60px;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.learn-btn2:hover {
  background-color: rgba(179, 179, 179, 0.525);
}

.diagonal-gradient {
    background: linear-gradient(45deg, #0051ff, #7b9efe, #e0e8ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }

  .intro-text {
    padding-right: 70px !important;
  }
}